<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="@ViewData["Desc"]" />
    <title>@ViewData["Title"] - Sube1.HelloMVC</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Sube1.HelloMVC.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Sube1.HelloMVC</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="container-fluid">
                    <ul class="navbar-nav flex-grow-1">
                       
                  
                        <li class="nav-item">
                            <a class="navbar-brand" href="/Student">Ögrenciler</a>
                        </li>

                        <li>
                            <a class="navbar-brand" href="/Student/Addstudent">Öğrenci Ekle</a>
                        </li>
                        <li>
                            <a class="navbar-brand"  href="/Lesson">Dersler</a>
                        </li>
                        <li>
                            <a class="navbar-brand"  href="/Lesson/AddLesson">Ders Ekle</a>
                        </li>
                        <li>
                            <a class="navbar-brand" href="/StudentLesson/Dersatama">Ders Ata</a>
                        </li>
                        <li>
                            <a class="navbar-brand" href="/StudentLesson">Atanan Dersler</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2024 - Sube1.HelloMVC - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
