@model Ders

@{
    ViewData["Title"] = "EditLesson";
}

<h1>EditLesson</h1>

<form asp-action="EditLesson" asp-controller="Lesson" method="post">
    <input asp-for="Dersid" type="hidden" />

    <label>Ders Ad:</label>
    <input type="text" asp-for="Dersad" />
    <label>Kredi:</label>
    <input asp-for="Kredi" />
    <input type="submit" value="Gönder" />


</form>
